/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца !
✦ card__like-button — для кнопки Like рядом с иконкой !
✦ card__icon-button — для кнопки, оборачивающей иконку !
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца!
✦ button__text — для обозначения текстового элемента внутри кнопки !

*/

@import url(./variables.css);

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  color: var(--accent-color);
  background-image:
    var(--gradient-horizontal), var(--gradient-vertical),
    var(--gradient-darkness);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: var(--header-padding);
}

.header__wrapper {
  text-align: center;
  border: 2px solid var(--accent-color);
  padding: var(--header-wrapper-padding);
  inline-size: 100%;
  margin-block-end: var(--block-margin);
  background-color: var(--main-bg-color);
}

.header__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--title-size);
  line-height: 1em;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__subtitle {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--subtitle-size);
  line-height: 1em;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-padding);
}

.card {
  inline-size: 100%;
  border: 2px solid var(--accent-color);
  margin-block-end: 50px;
  flex-shrink: 2;
  background-color: var(--main-bg-color);
}

.card__title {
  padding: var(--card-title-padding);
  font-variation-settings: "wght" var(--title-card-font-weight);
  font-size: var(--card-title-size);
  border-block-end: 2px solid var(--accent-color);
}

.image__wrapper {
  position: relative;
}

.card__image {
  inline-size: 100%;
  object-position: bottom;
}

.image__label {
  position: absolute;
  inset-block-start: var(--top-label-position);
  inset-inline-end: var(--right-label-position);
  font-family: var(--accent-font);
  font-size: var(--label-size);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  color: transparent;
  text-shadow:
    -1px 0 var(--label-text-stroke-color),
    1px 0 var(--label-text-stroke-color),
    0 1px var(--label-text-stroke-color),
    0 -1px var(--label-text-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--label-text-stroke-color)) or
  (text-stroke: 1px var(--label-text-stroke-color)) {
  .image__label {
    -webkit-text-stroke: 1px var(--label-text-stroke-color);
    text-stroke: 1px var(--label-text-stroke-color);
    text-shadow: none;
    color: rgba(255, 255, 255, 0.1);
  }
}

.card__description-wrapper {
  padding: var(--card-description-padding);
  border-block-start: 2px solid var(--accent-color);
}

.card__description-text {
  font-size: var(--card-text-size);
  line-height: var(--card-text-line-height);
  margin-block-end: 25px;
}

.card__description__first-part {
  display: block;
  margin-block-end: 27px;
}

.card__button__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  padding-block: 3px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.like-icon {
  inline-size: 26px;
  block-size: 24px;
  cursor: pointer;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
  transform-origin: center;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.3s ease 0.06s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--contour-color);
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
  transform-origin: center;
}

@keyframes sparks {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
  }
}

.button__text {
  font-family: var(--accent-font);
  font-size: var(--button-text-size);
  line-height: var(--button-text-line-height);
  mix-blend-mode: difference;
}

.card__like-button {
  background-color: var(--main-bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  inline-size: var(--card-button-width);
  block-size: var(--card-button-height);
  transition: box-shadow 0.3s ease;
  position: relative;
  color: var(--hover-effect-color);
}

.card__like-button::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  transition: inline-size 0.5s ease-in-out;
  inset: 0;
  inline-size: 0;
  block-size: 100%;
}

.card__like-button:hover::before {
  inline-size: 100%;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.footer {
  display: flex;
  justify-content: center;
  padding: var(--footer-padding);
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--save-button-padding);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: var(--hover-effect-color);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.save__button::before {
  content: "";
  position: absolute;
  inset: 0;
  inline-size: 0;
  block-size: 100%;
  transition: inline-size 0.5s ease-in-out;
  background-color: var(--accent-color);
}

.save__button:hover::before {
  inline-size: 100%;
}

.save__button:focus {
  outline: none;
}

.save__button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.save__button-icon {
  mix-blend-mode: difference;
}

#footer__modal {
  inline-size: var(--modal-width);
  block-size: var(--modal-height);
  padding: var(--modal-padding);
}

body:has(#footer__modal[open]) {
  overflow: hidden;
}

#footer__modal::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
}

.modal__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-block-end: 20px;
}

.modal__content-text {
  font-family: var(--accent-font);
  font-size: var(--modal-text-size);
  line-height: var(--modal-text-line-height);
  text-transform: uppercase;
}

.modal_button {
  font-family: var(--accent-font);
  font-size: var(--button-text-size);
  line-height: var(--button-text-line-height);
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  inline-size: 100%;
  background-color: var(--main-bg-color);
  color: var(--hover-effect-color);
  padding: var(--modal-button-block-padding) 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.modal_button::before {
  content: "";
  background-color: var(--accent-color);
  inline-size: 0;
  block-size: 100%;
  inset: 0;
  transition: inline-size 0.5s ease-in-out;
  position: absolute;
}

.modal_button:hover::before {
  inline-size: 100%;
}

.modal_button:focus {
  outline: none;
}

.modal_button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

@media (width <= 400px) {
  :root {
    --header-padding: 100px 0;
    --main-padding: 0;
    --modal-padding: 30px 10px;
  }
}

.html__image {
  filter: brightness(25%);
}

.css_image {
  filter: contrast(1100%);
}

.react_image {
  filter: blur(100px);
}

.router_image {
  filter: grayscale(100%);
}

.query__image {
  filter: invert(85%);
}

.zustand__image {
  filter: saturate(1000%);
}

.django__image {
  filter: sepia(100%);
}

.next__image {
  filter: opacity(0.3);
}
